.env
.env.*


postgres_data/
db.sqlite3
db.sqlite3-journal

__pycache__/
*.py[cod]
*$py.class
*.so

venv/
.venv/
env/
.env_dir/

/backend/media/
/backend/static/
/backend/staticfiles/

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
